<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051480448383-cn2svqai371lmf4ulvjpial8stta45ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051480448383-cn2svqai371lmf4ulvjpial8stta45ld</string>
	<key>API_KEY</key>
	<string>AIzaSyAr-MiXcYfJ8tosu6C6GGkG2Mck5Sanq-0</string>
	<key>GCM_SENDER_ID</key>
	<string>1051480448383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bugle.app</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-ffb06</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-ffb06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051480448383:ios:d2e681a2a30c9fe6790e4a</string>
</dict>
</plist>
